# Python/venv
__pycache__/
*.pyc
.venv/
.env

# Dagster local
dagster_home/

# Datos grandes o temporales
data/*
!data/tabla_perfilado.csv
!data/reporte_covid.xlsx
*.duckdb
*.parquet

# Dagster temp
.tmp_dagster_home_*/
# Downloads locales (no versionar datasets)
downloads/
